.header {
    width: 100%;
}

.header-top {
    height: 163px;
    width: 100%;
    display: flex;
    background-color: white;
    &--logo {}
}

.nav {
    padding-top: 63px;
    padding-left: 175px;
    @include laptop {
        padding-left: 75px;
    }
    @include tablet {
        padding-left: 30px;
    }
    @include mobile {
        padding-left: 20px;
    }
    &__list {
        display: flex;
    }
    &__item {
        &--link {
            color: #333333;
            font-family: 'Roboto';
            font-size: 24px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            margin-right: 45px;
            @include laptop {
                font-size: 18px;
                margin-right: 20px;
            }
            @include tablet {
                font-size: 14px;
                margin-right: 0px;
            }
            @include mobile {
                display: none;
            }
            &:hover {
                border-bottom: 4px solid #F99411;
            }
        }
    }
}

.header-main {
    width: 100%;
    height: 858px;
    background-color: #f26522;
    position: relative;
    &__img {
        position: absolute;
        bottom: 0;
        height: auto;
        max-width: 100%;
        @include tablet {
            display: none;
        }
        @include mobile {
            display: none;
        }
    }
    &__img2 {
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto;
        max-width: 100%;
        @include tablet {
            display: none;
        }
        @include mobile {
            display: none;
        }
    }
    &__tittle {
        color: #ffffff;
        font-family: 'Roboto';
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        padding-top: 260px;
    }
    &__desc {
        width: 477px;
        color: #ffffff;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
        margin: 0 auto;
    }
    &__search {
        width: 753px;
        height: 106px;
        box-shadow: 4px 6px 38px rgba(0, 0, 0, 0.11);
        background-color: #783312;
        margin: 0 auto;
        margin-top: 50px;
        @include laptop {
            min-width: 750px;
        }
        @include tablet {
            width: 100%;
        }
        @include mobile {
            width: 100%;
        }
    }
}