// Basic components (btn,colors,bg,etc)
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.tittle {
    color: #333333;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 100px;
    @include mobile {
        margin-bottom: 20px;
    }
}

.line {
    padding-top: 23px;
    width: 280px;
    border-bottom: 1px solid #cacaca;
    margin: 0 auto;
    @include mobile {
        display: none;
    }
    &--orange {
        width: 100px;
        height: 7px;
        background-color: #f26522;
        margin: 0 auto;
        position: relative;
        top: 4px;
    }
}

.item {
    &__tittle {
        color: #f26522;
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
        padding-top: 31px;
    }
    &__subtittle {
        width: 320px;
        color: #898989;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        padding-top: 17px;
    }
}

.box-p {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    padding-left: 27px;
    padding-top: 20px;
    &:hover {
        transform: scale(1.05);
        opacity: 0.8;
        cursor: pointer;
    }
}

.box-h {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    padding-left: 24px;
    padding-top: 32px;
    &:hover {
        transform: scale(1.05);
        opacity: 0.8;
        cursor: pointer;
    }
}

.search {
    position: absolute;
    @include tablet {
        width: 100%;
    }
    @include mobile {
        width: 100%;
    }
    &__input {
        width: 542px;
        height: 65px;
        box-shadow: 0 0 24px rgba(64, 199, 255, 0.32);
        background-color: #ffffff;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 60px;
        padding-left: 19px;
        margin-left: 22px;
        margin-top: 21px;
        @include tablet {
            width: 96%;
            margin-left: 0px;
            margin-bottom: 20px;
        }
        @include mobile {
            width: 90%;
            margin-left: 0px;
            margin-bottom: 20px;
        }
    }
    &__find {
        width: 166px;
        height: 65px;
        background-color: #f26522;
        margin-left: -4px;
        color: #ffffff;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        @include tablet {
            width: 96%;
            border: 2px solid #000;
            margin-left: 0px;
            margin-top: 10px;
        }
        @include mobile {
            width: 90%;
            border: 2px solid #000;
            margin-left: 0px;
            margin-top: 10px;
        }
        &:hover {
            border: 3px solid #ffffff;
            transform: scale(1.05);
        }
    }
}