// Basic components (btn,colors,bg,etc)
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.tittle {
    color: #333333;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 100px;
}

.line {
    padding-top: 23px;
    width: 280px;
    border-bottom: 1px solid #cacaca;
    margin: 0 auto;
    &--orange {
        width: 100px;
        height: 7px;
        background-color: #f26522;
        margin: 0 auto;
        position: relative;
        top: 4px;
    }
}

.item {
    &__tittle {
        color: #f26522;
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
        padding-top: 31px;
    }
    &__subtittle {
        width: 320px;
        color: #898989;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        padding-top: 17px;
    }
}